.ladle-main {
  font-family: Arial, Helvetica, sans-serif;
}

.octomoji {
  font-size: 50px;
  text-align: "center";
  margin-bottom: 16px;
}

@keyframes plus-one {
  0% {
    opacity: 0;
    transform: translateY(100%) scale(0.5);
  }
  25% {
    opacity: 1;
    transform: translateY(-50%) scale(1);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(0);
  }
}
