body {
  font-family: Arial, Helvetica, sans-serif;
}

[data-theme="dark"] body {
  color: #eee;
}

.octomoji {
  font-size: 50px;
  text-align: "center";
  margin-bottom: 16px;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home p {
  max-width: 80ch;
}

.home img {
  max-width: 100%;
}

.github-badges {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.plus-one {
  position: absolute;
  bottom: 100%;
  animation: plus-one 1s forwards;
  font-weight: bold;
  font-size: 12px;
  color: rgba(10, 60, 90, 0.9);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

[data-theme="dark"] .plus-one {
  color: rgba(117, 194, 242, 0.9);
  background-color: rgba(0, 0, 0, 0.2);
}

@keyframes plus-one {
  0% {
    opacity: 0;
    transform: translateY(100%) scale(0.5);
  }
  25% {
    opacity: 1;
    transform: translateY(-50%) scale(1);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(0);
  }
}
